h1 {
  border: 2px #eee solid;
  color: brown;
  text-align: center;
  padding: 10px;
}

.post-card {
  border: 2px #eee solid;
  padding: 10px 15px 25px 15px;
}

.post-card h2,
.post-card a {
  color: brown;
}

.post-card a:visited {
  color: lightcoral;
}
